
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,100,400);
@import '../../anytime.css';
.anytime-picker {
  display: none;
  position: absolute;
  width: 240px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 3px;
  border-radius: 0.3em;
  z-index: 100;
  color: #333;
  line-height: 1;
}
.anytime-picker--is-visible {
  display: block;
}
.anytime-picker__dropdown {
  height: 24px;
  display: inline-block;
  width: auto;
  margin: 0 3px;
}
.anytime-picker__dates .anytime-picker__day-name {
  font-size: 11px;
  text-align: center;
  padding-bottom: 3px;
}
.anytime-picker__dates {
  margin: 3px 0;
  width: auto;
}
.anytime-picker__dates span,
.anytime-picker__dates .anytime-picker__date {
  display: inline-block;
  width: 14.285714285714286%;
  padding: 8px 3px;
}
.anytime-picker__date {
  position: relative;
  border: 0;
  background: #ddd;
  color: #333;
  text-align: center;
  box-shadow: inset 0 0 0 1px #fff;
  transition-property: color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  cursor: pointer;
}
.anytime-picker__date:hover,
.anytime-picker__date:focus {
  outline: 0;
  transition-duration: 0.1s;
  background: #cb573e;
  color: #fff;
}
.anytime-picker__header,
.anytime-picker__footer {
  padding: 5px;
  text-align: center;
}
.anytime-picker__header .anytime-picker__dropdown,
.anytime-picker__footer .anytime-picker__dropdown,
.anytime-picker__header .anytime-picker__button,
.anytime-picker__footer .anytime-picker__button {
  margin: 3px 2px;
  vertical-align: middle;
}
.anytime-picker__footer {
  background-color: #ddd;
}
.anytime-picker__footer .anytime-picker__button {
  line-height: 1em;
  font-size: 13px;
}
.anytime-picker__time {
  padding: 10px 0;
  text-align: center;
}
.anytime-picker__time .anytime-picker__dropdown {
  width: 30%;
}
.anytime-picker__button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  font-family: inherit;
  font-weight: normal;
  line-height: 0.4;
  padding: 6px 7px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 0.3em;
  color: #333;
  border: 1px solid #c6c6c6;
  background-color: #ddd;
  min-width: 25px;
  font-family: 'Roboto', sans-serif;
}
.anytime-picker__button:focus,
.anytime-picker__button:hover {
  text-decoration: none;
  outline: 0;
  transition-duration: 0.1s;
  color: #333;
  border-color: #a5a5a5;
  background-color: #bbb;
}
.anytime-picker__button:active {
  border-color: #8f8f8f;
  background-color: #a5a5a5;
}
.grid {
  margin-left: -20px;
}
.grid__item {
  padding-left: 20px;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
.one-whole {
  width: 100%;
}
.one-half {
  width: 50%;
}
.one-third {
  width: 33.3333%;
}
.two-thirds {
  width: 66.6667%;
}
.one-quarter {
  width: 25%;
}
.two-quarters {
  width: 50%;
}
.three-quarters {
  width: 75%;
}
.one-fifth {
  width: 20%;
}
.two-fifths {
  width: 40%;
}
.three-fifths {
  width: 60%;
}
.four-fifths {
  width: 80%;
}
.one-sixth {
  width: 16.6667%;
}
.two-sixths {
  width: 33.3333%;
}
.three-sixths {
  width: 50%;
}
.four-sixths {
  width: 66.6667%;
}
.five-sixths {
  width: 83.3333%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #cb573e;
  color: #fffddc;
  font: 112.5%/1.7 'Roboto', sans-serif;
  font-weight: 300;
}
a {
  color: #fffddc;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  text-decoration: underline;
}
.main-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 0;
}
.main-title {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 50px;
  text-shadow: rgba(0,0,0,0.2) 3px 3px;
  margin-bottom: 0px;
}
.subtitle {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 80px;
}
.main-footer {
  padding: 50px 0;
  text-align: center;
}
.terminal {
  background: #e3e3e3;
  border-radius: 0.5em;
  padding-top: 2.3em;
  position: relative;
  margin: 6em 0 3em;
}
.terminal:before,
.terminal:after,
.terminal__content:after {
  background: #c8c8c8;
  border-radius: 50%;
  content: '';
  height: 0.75em;
  position: absolute;
  top: 0.85em;
  width: 0.75em;
}
.terminal:before {
  left: 1em;
}
.terminal:after {
  left: 2.25em;
}
.terminal__content:after {
  left: 3.5em;
}
.terminal__content {
  background: #fff;
  border-radius: 0 0 0.5em 0.5em;
  color: #000;
  display: block;
  overflow: scroll;
  padding: 1em 1.5em;
}
.splash__image {
  text-align: center;
}
::-webkit-input-placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
.splash__input {
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  border: 3px solid rgba(255,255,255,0.3);
  padding: 0.5em;
  line-height: 1.75em;
  margin: 3em 0;
  border-radius: 0.2em;
  position: relative;
}
.splash__input input {
  border: none;
  background: transparent;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
  color: #fff;
}
.splash__input > button {
  position: absolute;
  right: 0.5em;
  border: 0;
  background-color: #a7432d;
  color: #fffddc;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding: 0.5em 1.2em;
  font-size: 0.8em;
  border-radius: 0.2em;
  cursor: pointer;
  line-height: 1;
}
.splash__input > button:hover {
  background-color: #bc4b33;
}
.splash__prose {
  margin: 5em 0;
}
pre {
  font-family: 'Consolas', monospace;
  font-size: 16px;
  line-height: 1.5;
}
.code-sample {
  background-color: #fffddc;
  color: #cb573e;
  padding: 1em;
  overflow: auto;
}
p code,
tr code {
  background-color: rgba(255,253,220,0.1);
  padding: 5px 3px;
}
table {
  font-size: 0.8em;
  border: none;
  display: block;
  overflow: auto;
}
td {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  background-image: none;
  padding: 0.5em;
}
thead td {
  border-bottom: 1px solid #fffddc;
  border-collapse: collapse;
  font-weight: bold;
}
tbody td {
  max-width: 20%;
  border-bottom: 1px solid rgba(255,253,220,0.1);
}
